.squared{
background-color: black;
color: white;
min-height: 70px;
min-width: 70px;
border-color: white;
border-width: 2px;
font-size: xx-large;
font-weight: bold;
border-style: solid;
display: flex; /* Enables flexbox */
justify-content: center; /* Centers text horizontally */
align-items: center; /* Centers text vertically */
}
.Grids{
  align-items: center; 
  display:flex;
  flex-direction: column;
  text-align: center;
  
  

}
.keyboard{

  margin-top: 70px;
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers text vertically */
  flex-direction: column;
  text-align: center;
  background: black;
}
.square{
  min-height: 70px;
  min-width: 9vw;
  font-weight: bold;
  background-color: grey;
  font-size: 100%;
  color: white;
}
.boxed {
  height: 32px;

}
.board-row{
  display:flex;
}
