.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
color: white;
font-size: 20px;
display: flex;
position: absolute;


}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
color: white;
font-size: 20px;
display: flex;
position: absolute;


}
