
.container{
    display: flex;
    height: 100%;

}


.home{
  flex: 5;
  padding-top: 150px;

}

.Search{
  position: flex;
  margin: 0 auto;
}

.Pie {
  position: flex;
  margin: 0 auto;

}
.Card{
  position: flex;
  
  margin: 0 auto;

}

.tasks {
  position: flex;
  margin: 0 auto;
}
